body {
    margin: 60px auto;
    width: 70%;
    background-image: url("background.png");
    background-repeat: repeat;
    background-color: white;
}
nav ul, footer ul {
    font-family:'Tahoma', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 10pt;
    padding: 0px;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 11pt;
}
footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 10pt;
}
a {
    text-decoration: none;
    color: #e98ac8;
}
a:hover {
    text-decoration: underline;
    color: #eeb6db;
    text-decoration-color: #a2f8ee;
}
b {
  color: #a5aee8;
}
u {
  text-decoration-color: #e98ac8;
}

h1 {
	font: 14pt arial;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-left: 7px;
	border-bottom: 2px solid #a5aee8;
  border-left: 22px solid #a5aee8;
	color: #983375;
	margin-top: 15px;
}
body {
  line-height: 1.2em;
  font-family:'Tahoma', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 11.5pt;
  color: #666;
}
p {
    line-height: 1.2em;
    font-family:'Tahoma', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 11.5pt;
    color: #666;
}
nav{
      border-bottom: 1px solid #a5aee8;
}
footer {
    border-top: 1px solid #a5aee8;
}

div{
  background-color: rgba(256, 256, 256, 0.85);
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

canvas {
  display: block;
  width: 100%;
  height: auto;
}
